rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Rules for SIPESBAR - Managed via Server
    match /{document=**} {
      // Allow all access because the server is now using the client SDK
      // which is subject to security rules. The application logic
      // for authorization is handled in the Express backend.
      allow read, write: if true;
    }
  }
}
